<section>
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">Nombre</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="name" placeholder="Nombre" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Descripcion</label>
			<div class="controls">
				<input data-ng-model="description" id="description" placeholder="Descripcion">
				</input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>