<section data-ng-controller="ProyectosController" data-ng-init="find()">
	<table class="table">
		<thead>
		<tr>
			<th> ID </th>
			<th> Nombre </th>
			<th> Descripcion </th>

		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="proyecto in proyectos">

			<td>{{proyecto.id}}</td>
			<td>{{proyecto.name}}</td>
			<td>{{proyecto.description}}</td>
			<td><button class="btn btn-primary btn-lg" ui-sref="editProyecto({proyectoID: proyecto.id})"> editar </button></td>
			<td><button class="btn btn-primary btn-lg" ng-click="remove(proyecto);"> Borrar </button></td>
			<td><button class="btn btn-primary btn-lg" ui-sref="viewProyecto({proyectoID : proyecto.id})"> Ver </button></td>


		</tr>
		</tbody>
	</table>
	<h1 data-ng-hide="!proyectos || proyectos.length">No articles yet. <br> Why don't you <a ui-sref="createArticle">Create One</a>?</h1>
</section>