<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Login Form Template</title>

	<!-- CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="../../css/form-3/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/form-3/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/form-3/assets/css/form-elements.css">
	<link rel="stylesheet" href="../../css/form-3/assets/css/style.css">
	<link rel="stylesheet" href="../../css/form-3/choose-layout-assets/style.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href="../../css/form-3/assets/ico/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../css/form-3/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../css/form-3/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../css/form-3/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../../css/form-3/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top content -->
<div class="top-content">

	<div class="inner-bg">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>Editar encuesta</h3>
							<p>Ingrese los nuevos datos</p>
						</div>
						<div class="form-top-right">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="form-bottom">
                        <span ng-controller="EncuestasController">
							<section data-ng-init="findOne()">
								<form class="form-horizontal" data-ng-submit="update()">
									<div class="control-group">
										<label class="control-label" for="nombre">Nombre</label>

										<div class="controls">
											<input type="text" data-ng-model="encuesta.nombre" id="nombre" placeholder="Nombre" required>
											</input>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="url">URL</label>

										<div class="controls">
											<input data-ng-model="encuesta.url" id="url" placeholder="URL">
											</input>
										</div>
									</div>
									<div class="control-group" data-ng-init="findP()">
										<label class="control-label" for="proyectoname">Proyecto</label>

										<div class="controls">
											<select data-ng-model="encuesta.proyectoname" id="proyectoname" name="proyectoname">
												<option ng-repeat="proyecto in proyectos" value="{{proyecto.name}}">{{proyecto.name}}</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											<input type="submit" class="btn">
										</div>
									</div>
								</form>
							</section>
                        </span>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>


<!-- Javascript -->
<script src="../../css/form-3/assets/js/jquery-1.11.1.min.js"></script>
<script src="../../css/form-3/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../css/form-3/assets/js/jquery.backstretch.min.js"></script>
<script src="../../css/form-3/assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="../../css/form-3/assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>
